.first{
color: cornflowerblue;

/* background-color: coral; */
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
margin: 10px 20px 30px;

}
.secend{
color: navajowhite;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: 50px;

}
.third{

color: violet;
text-align: end;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}
.song{

color: blue;
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;


background-color: coral;
}